{% extends "auctions/layout.html" %} {% block body %}
<h2>Active Listings</h2>

<form action="{% url 'filter-category' %}" method="get">
  <label for="category">Filter a category</label>
  <select name="category" class="form-select">
    {% for category in categories %}
    <option value="{{category}}">{{category}}</option>
    {% endfor %}
  </select>
  <input type="submit"></input>
</form>

<div class="row mx-3">
  {% for listing in listings %}
  <div class="card mx-3" style="width: 18rem">
    <img
      src="{{listing.img}}"
      style="height: 20rem; object-fit: cover"
      class="card-img-top"
      alt="card-img"
    />
    <div class="card-body">
      <h5 class="card-title">{{listing.name}}</h5>
      <p class="card-text">{{listing.description}}</p>
      <p class="card-text">{{listing.price}} $</p>
      <a href="#" class="btn btn-primary">Bid</a>
    </div>
  </div>

  {% empty %} {% endfor %}
</div>
{%endblock%}
