{% extends "auctions/layout.html" %} {% block body %}

<div>
  {% if user.is_authenticated %} {% if is_in_watchlist %}
  <form action="{% url 'remove-watchlist' listing.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-danger">Remove from watchlist</button>
  </form>
  {% else %}
  <form action="{% url 'add-watchlist' listing.id %}" method="POST">
    {% csrf_token %}
    <button type="submit" class="btn btn-success">Add to watchlist</button>
  </form>
  {% endif %} {% endif %}
</div>

<h2>{{listing.name}}</h2>
<img src="{{listing.img}}" alt="listing-img" style="width: 200px" />
<h4>{{listing.description}}</h4>
<hr />
<h3>Starting price: ${{listing.price }}</h3>
<h3>Current bid: {{listing.placed_bid}}</h3>

{% if user.is_authenticated %}
<form action="{% url 'place-bid' listing.id%}" method="POST">
  {% csrf_token %}
  <input type="number" name="bid_price" />
  <button type="submit" class="btn btn-success">Place Bid</button>
</form>

{% endif %}
<h3>Details</h3>

<ul>
  <li>Listed by: <strong>{{listing.listedBy}}</strong></li>
  <li>Category: <strong>{{listing.category}}</strong></li>
</ul>

<div>
  {% if user.is_authenticated %}

  <div class="form-group">
    <form action="{% url 'add-comment' listing.id %}" method="post">
      {% csrf_token%}
      <label for="comment">Leave a comment</label>
      <textarea
        class="form-control"
        id="comment"
        name="comment"
        rows="3"
      ></textarea>
      <button type="submit" class="btn btn-success">Submit</button>
    </form>
  </div>

  {% endif %}
</div>
<h3>
  {% for comment in comments %}
  <label for="comment">{{comment.author}} commented</label>
  <textarea
    class="form-control"
    id="comment"
    rows="3"
    style="background-color: lightgray"
    readonly
  >
{{comment.comment}}</textarea
  >
  {% endfor %}
  <h3 />
  {%endblock%}
</h3>
