{% extends "auctions/layout.html" %} {% block body %}
<h2>Watchlist</h2>

<div class="row mx-3">
  {% for listing in listings %}
  <div class="card mx-3" style="width: 18rem">
    <img
      src="{{listing.img}}"
      style="height: 20rem; object-fit: cover"
      class="card-img-top"
      alt="card-img"
    />
    <div class="card-body">
      <h5 class="card-title">{{listing.name}}</h5>
      <p class="card-text">{{listing.description}}</p>
      <p class="card-text">{{listing.price}} $</p>
      <a href="{% url 'listing-details' listing.id %}" class="btn btn-primary"
        >Details</a
      >
    </div>
  </div>

  {% empty %} {% endfor %}
</div>
{%endblock%}
